
@import '../../global.scss';


.btn {
    font-weight: 400;
    font-family: 'Courier New', Courier, monospace;
    border-color: $mainColor;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.3s ease;
    color: $mainColor;
}