@import '../../global.scss';
.portfolio {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    h2 {
        font-size: 25px;
        overflow: hidden;
        padding: 5px;
    }
    ul {
        margin: 10px;
        padding: 0;
        list-style: none;
        display: flex;
        li {
            font-size: 12px;
            margin-right: 50px;
            padding: 10px;
            border-radius: 10px;
            cursor: pointer;
            overflow: hidden;
            &.active {
                background-color: $mainColor;
                color: white;
            }
        }
    }
    .container {
        width: 80%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        overflow: hidden;
        .item {
            width: 250px;
            height: 200px;
            border-radius: 10px;
            //border: 1px solid $mainColor;
            margin: 10px 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: white;
            position: relative;
            overflow: hidden;
            box-shadow: 5px 5px 10px $mainColor;
            transition: all 0.5s ease;
            cursor: pointer;
            h3 {
                position: absolute;
                font-size: 20px;
                justify-content: center;
                align-items: center;
                left: 20%;
            }
            p {
                position: absolute;
                bottom: 20px;
                font-size: 10px;
                align-items: center;
                
            }
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                z-index: 1;
            }
            &:hover {
                background-color: $mainColor;
                img {
                    opacity: 0.3;
                    z-index: 0;
                }
            }
        }
    }
}