@import '../../global.scss';
.navbar {
    height: 70px;
    width: 100%;
    display:inline-flex;
    justify-content: center;
    text-align: center;
    float: right;
    
    align-items: center;
    background: white;
    position: fixed;
    overflow: hidden;
    z-index: 1;

    .nav-logo{
        font-weight: 800;
        font-size: 25px;
        margin: 25px;
        color: $mainColor;
        
        
        
    }
    .nav-items {
        
        align-items: center;
        justify-content: right;
        overflow: hidden;
        //left:50%;
            a {
                color: grey;
                text-decoration: none;
                margin: 15px;
                font-size: 15px;
                font-weight: 400;
                position: relative;
                opacity: 0.9;
                border: solid 1px transparent;
                padding: 5px 5px;
                justify-content: center;
                top: 0;
                transition: top ease 0.5s;
                
                &:hover{
                    color: $mainColor;
                    
                    font-size: 16px;
                    font-weight: 600;
                    opacity: 1.0;
                    top: -2px;
                    
                }
                
            }
            
                
                
            }
        }
        